@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Fira+Sans&display=swap');

$primary: #42803d;
$nav-height: 65px;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/layout/section.sass';

html {
  overflow-y: auto;
}

body {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  user-select: none;
  min-height: calc(100vh - #{$nav-height});
  margin-bottom: $nav-height;
  overflow-y: hidden;
}

#app {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numeric {
  font-family: Cousine, monospace;
}

.columns.no-margin {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.router-link-active {
  background-color: $primary;
  border-radius: 50%;

  svg {
    stroke: white;
  }
}
